.footer {
    font-family: 'Helvetica Neue', sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #333;
  }
  
  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-link img {
    width: 40px;
    height: 40px;
    margin: 0 15px;
    transition: transform 0.3s ease-in-out;
  }
  
  .social-link img:hover {
    transform: scale(1.2);
  }
  
  .text-muted {
    font-size: 14px;
    color: #aaa;
  }
  
  .text-white {
    color: white;
  }
  